/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* Text color */
  margin: 0;
}

/* Content area styles */
.content {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 0 20px; /* Adjust padding for top and bottom */
  box-sizing: border-box;
  margin: 0; /* Remove default margin */
}

/* Text area styles */
textarea {
  resize: none !important;
  height: calc(100vh - 110px); /* Adjust for header and counting area */
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  line-height: 1.5em;
  background-color: #222;
  font-size: 16px;
  color: #ccc;
  resize: none;
  margin-bottom: 10px;
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Status bar styles */
#status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #292929;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #444;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Overlay styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 900; /* Set a lower z-index value */
}
.overlay.show {
  display: flex;
}

.preferences-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  color: #000; /* Add this line to change the text color to black */
}


.preferences-box .dialog-content {
  display: flex; /* Use flexbox for better alignment */
  flex-direction: column; /* Stack inputs vertically */
}

.preferences-box label {
  font-weight: normal;
  margin-bottom: 5px;
  display: block; /* Ensure each label takes up full width */
  margin-top: 10px; /* Add margin to the top of each label */
}

.preferences-box select,
.preferences-box input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.preferences-box .font-size-input {
  display: flex;
  align-items: center;
}

.preferences-box .font-size-input input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: 5px; /* Adjust the margin-top to match the other inputs */
}

.preferences-box .font-size-input span {
  font-size: 14px;
  color: #666;
}


.preferences-box select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.preferences-box button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.preferences-box button:hover {
  background-color: #2980b9;
}

/* Dark mode */
body.dark-mode {
  background-color: #fff; /* Light background color */
  color: #000; /* Text color */
}

/* Dark mode header styles */
body.dark-mode .header {
  background-color: #f2f2f2; /* Lighter header background */
}

/* Dark mode menu styles */
body.dark-mode .menu-button {
  background-color: #3498db;
}

/* Dark mode content area styles */
body.dark-mode .content {
  background-color: #f5f5f5; /* Lighter content background */
}

/* Dark mode textarea styles */
body.dark-mode textarea {
  background-color: #e0e0e0; /* Lighter textarea background */
  color: #000; /* Dark text color */
}

/* Dark mode status bar styles */
body.dark-mode #status-bar {
  background-color: #f2f2f2; /* Lighter status bar background */
  border-top-color: #ccc; /* Lighter border */
  color: #000;
}

/* About overlay styles */
#aboutOverlay {
  display: none;
  z-index: 1000;
}

#aboutOverlay.show {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to the top vertically */
}

/* CSS for the Welcome Text */
.about-section p.welcome-text {
  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Make it bold */
  color: #333; /* Text color */
  margin-bottom: 15px; /* Add some spacing at the bottom */
}

/* CSS for the App Description Text */
.about-section p.app-description {
  font-size: 18px; /* Adjust font size */
  line-height: 1.4; /* Increase line height for readability */
  color: #666; /* Text color */
  margin-bottom: 20px; /* Add more spacing at the bottom */
}

/* Common Styles for Both Mobile and Desktop */
.about-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  width: 90%; /* Adjusted width for mobile and desktop */
  margin: 20px auto 0;
  text-align: left;
  position: relative;
  max-height: 80vh; /* Set a maximum height (80% of the viewport height) for mobile */
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.about-section {
  font-size: 14px; /* Smaller font size */
  color: #000;
  margin-top: 10px; /* Add some spacing at the top */
}

.about-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-section p {
  margin-bottom: 10px;
  font-size: 14px; /* Smaller font size */
}

/* Styles for Mobile */
@media (max-width: 768px) {
  .about-container {
    padding: 10px;
    text-align: center; /* Center text */
    max-width: 90%; /* Smaller container for mobile */
  }

  .close-button {
    font-size: 16px; /* Smaller font size */
  }

  .about-section h2 {
    font-size: 18px;
  }

  .about-section p {
    font-size: 12px; /* Smaller font size */
  }

  .features {
    text-align: left;
  }

  .features h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .features ul {
    padding-left: 20px; /* Add some padding to the left */
    margin-left: 15px;
  }

  .caution {
    background-color: #ffcccb;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 12px; /* Smaller font size */
  }

  .support {
    text-align: center;
    margin-top: 20px;
  }

  .github-link {
    text-align: center;
    margin-top: 20px;
  }

  /* Donate link style */
.donate-link {
  display: inline-block;
  background-color: #ff6b6b;
  color: #fff;
  padding: 5px 10px; /* Smaller padding */
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px; /* Smaller font size */
  margin-top: 5px;
}

.donate-link:hover {
  background-color: #ff4747;
  color: black;
}
}

/* Desktop Styles */
@media (min-width: 769px) {
  .about-container {
    width: 70%; /* Adjusted width for desktop */
    padding: 20px;
    margin: 20px auto 0;
    background-color: #f4f4f4; /* Background color for important section */
  }

  .features {
    text-align: left;
  }

  .features h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .features ul {
    padding-left: 10px; /* Add some padding to the left on desktop */
    margin-left: 30px;
  }

  .caution {
    font-size: 12px; /* Smaller font size */
    background-color: #ffcccb; /* Background for caution section */
    padding: 10px; /* Padding for caution section */
    border-radius: 5px; /* Border radius for caution section */
    margin: 10px 0; /* Margin for caution section */
  }

  .support {
    text-align: center;
    margin-top: 30px;
  }

  .github-link {
    text-align: center;
    margin-top: 30px;
  }

  /* Donate link style */
.donate-link {
  display: inline-block;
  background-color: #ff6b6b;
  color: #fff;
  padding: 5px 10px; /* Smaller padding */
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px; /* Smaller font size */
  margin-top: 5px;
}

.donate-link:hover {
  background-color: #ff4747;
  color: black;
}
}

.divider {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

/* Additional CSS for Icons */
.github-icon,
.donate-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo-img {
  max-height: 40px; /* Adjust the max height as needed */
  display: flex;
  align-items: flex-start; /* Align the logo to the top */
}

